<form [formGroup]="form"
    (ngSubmit)="submit()"
    autocomplete="off">

    <div class="
    form-group">
        <mat-form-field appearance="legacy">
            <mat-label>Type a joke</mat-label>
            <textarea matInput
                rows="2"
                [matTextareaAutosize]="true"
                formControlName="value"
                placeholder="Type a joke..."></textarea>
            <mat-error
                *ngIf="form.get('value').touched && form.get('value').invalid">
                Joke is required!</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="legacy">
            <mat-label>Type icon url</mat-label>
            <input matInput
                placeholder="Type icon url"
                formControlName="iconUrl">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="legacy">
            <mat-label>Choose a category</mat-label>
            <mat-select formControlName='categories'
                multiple>
                <mat-select-trigger>
                    {{form.get('categories').value && form.get('categories').value[0]  | titlecase}}
                    <span *ngIf="form.get('categories').value?.length > 1">
                        (+{{form.get('categories').value.length - 1}}
                        {{form.get('categories').value?.length === 2 ? 'other' : 'others'}})
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let category of categoryList"
                    [value]="category.title">{{category.title | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group"
        *ngIf="!modifyJokeMode">
        <mat-form-field appearance="legacy">
            <mat-label>Add custom category</mat-label>
            <input matInput
                formControlName="customCategories"
                placeholder="Type a joke..." />

            <mat-error
                *ngIf="form.get('customCategories').invalid && form.get('customCategories').touched">
                Category already exist!</mat-error>
        </mat-form-field>

    </div>

    <div class="submit-group">
        <mat-spinner [diameter]="25"
            *ngIf="loadingState || form.pending">
        </mat-spinner>
        <button class="btn"
            [disabled]="(loadingState || this.form.invalid || form.pending)">{{!modifyJokeMode? 'Create!': 'Update!'}}</button>
    </div>
</form>
