<div class="container">

  <div class="nav">
    <a href="#"
      class="btn route"
      routerLink="/">
      Home
    </a>
    <h3>Create Joke</h3>
  </div>

  <div class="form-container">

    <app-create-edit-joke (errorMessage)="openSnackBar($event)"
      (modifyJoke)="onNewJoke($event)"></app-create-edit-joke>

    <div class="cards">
      <ng-container *ngIf="jokeService.getBufferJoke.length; else empty">
        <app-favorite-card *ngFor="let joke of jokeService.getBufferJoke"
          [joke]="joke"></app-favorite-card>
      </ng-container>
    </div>

  </div>
</div>

<ng-template #empty>
  <app-empty-container title="Create your first joke :)"></app-empty-container>
</ng-template>
