<div class="container">

  <div class="nav">
    <a href="#"
      class="btn route"
      routerLink="/">
      Home
    </a>
    <h3>Create Joke</h3>
  </div>

  <div class="form-container">

    <app-create-joke-form (errorMessage)="onError($event)">
    </app-create-joke-form>

    <div class="cards">
      <ng-container *ngIf="jokeService.newJokes.length; else empty">
        <ng-container *ngIf="!errorMessage; else error">
          <app-favorite-card *ngFor="let joke of jokeService.newJokes"
            [joke]="joke"
            favorite="true"></app-favorite-card>
        </ng-container>
      </ng-container>
    </div>

  </div>
</div>

<ng-template #empty>
  <app-empty-container title="Create your first joke :)"></app-empty-container>
</ng-template>

<ng-template #error>
  <div class="error">
    <h3> {{errorMessage}} </h3>
  </div>
</ng-template>
