@import 'variables';
@import 'media_mixin';

.container {
  width: 100%;
  .form-container {
    width: 50%;
    margin: 0 auto;
    @include _836 {
      width: 60%;
    }
    @include _480 {
      width: 90%;
    }
    @include _420 {
      width: 100%;
    }
  }
}
