@import 'variables';
@import 'media_mixin';

.container {
  width: 100%;

  mat-radio-group {
    width: 100%;
    display: flex;
    justify-content: center;
    mat-radio-button {
      margin: 10px;
    }
  }
}
