@import 'variables';
@import 'media_mixin';

.container {
  width: 100%;

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      margin: 10px;
      margin-bottom: 0;
      img {
        filter: invert(1);
      }
    }
  }
}
