@import 'variables';
@import 'media_mixin';

form {
  padding: 15px 30px;
  padding-top: 30px;
  margin-bottom: 20px;
  background: $white-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  textarea {
    resize: none;
    margin: 0;
  }
  .base-input {
    margin: 0;
  }
  .form-group {
    position: relative;
    margin-bottom: 25px;

    .validation {
      position: absolute;
      bottom: -15px;
      color: $error-color;
    }
  }
  .submit {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0;
    margin-bottom: 0;

    @include _600 {
      flex-direction: column;
    }
  }
}
.submit-group {
  display: flex;
  align-items: center;
  .btn {
    margin: 0;
    margin-left: 10px;
  }
}
