<form [formGroup]="form"
  (ngSubmit)="submit()">

  <div class="form-group">
    <label for="value">Joke text:</label>

    <textarea class="base-input"
      id="value"
      formControlName="value"
      placeholder="Type a joke..."></textarea>

    <div class="validation"
      *ngIf="form.get('value').touched && form.get('value').invalid">
      <small *ngIf="form.get('value').errors.required">
        Joke is required!
      </small>
      <small *ngIf="form.get('value').errors?.minlength">
        Joke text should be at least
        {{form.get('value').errors?.minlength.requiredLength}}
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="iconUrl">Icon Url:</label>

    <input type="text"
      id="iconUrl"
      formControlName="iconUrl"
      class="base-input"
      placeholder="Icon url...">
  </div>

  <div class="submit">
    <mat-form-field appearance="fill">
      <mat-label>Choose a category</mat-label>
      <mat-select formControlName='categories'
        multiple>
        <mat-select-trigger>
          {{(form.get('categories').value[0]|| '')|titlecase}}
          <span *ngIf="form.get('categories').value?.length > 1"
            class="example-additional-selection">
            (+{{form.get('categories').value.length - 1}}
            {{form.get('categories').value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let category of categoriesList"
          [value]="category.title">{{category.title |titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="submit-group">
      <mat-spinner [diameter]="25"
        *ngIf="loading">
      </mat-spinner>
      <button class="btn"
        [disabled]="loading || this.form.invalid">Create!</button>
    </div>
  </div>

</form>
