<app-toolbar title="Reset Password"
    [disable]='true'></app-toolbar>

<div class="container">
    <div class="content"
        *ngIf="isValidToken; else invalid">
        <h3>Change your password</h3>
        <p>
            <mat-icon>lock</mat-icon>
            Keep it secret. keep it safe.
        </p>
        <p>Type in your new password, and we'll get you unstuck...</p>
        <app-restore-password-form [resetPasswordMode]="true"
            (submitForm)="changePasswords($event.password)"
            [loadingState]="loadingState">
        </app-restore-password-form>
    </div>

    <ng-template #invalid>
        <div class="content">
            <p>OOPSIES! SOMETHING WENT WRONG.</p>
            <h3>This Reset Link is No Bueno.</h3>
            <p>Need to try again?
                Request a new password.
            </p>
            <a routerLink='/forgot'
                mat-button
                color="primary">Forgot Password</a>
        </div>
    </ng-template>
</div>
