<div class="container">

    <div class="nav">
        <a href="#"
            class="btn"
            routerLink="/">
            Home
        </a>

        <h3>Jokes editor</h3>
    </div>

    <div class="container-inner">
        <ng-container *ngIf="joke; else empty">
            <app-create-edit-joke [joke]="joke"
                (modifyJoke)="newJoke($event)"></app-create-edit-joke>

            <app-favorite-card [joke]="joke"
                [edit]="false"></app-favorite-card>
        </ng-container>

        <ng-template #empty>
            <app-empty-container title="No joke selected"></app-empty-container>
        </ng-template>
    </div>
</div>
