@import 'variables';
@import 'media_mixin';

.container {
  width: 100%;
  &-inner {
    width: 80%;
    margin: 0 auto;
    @include _420 {
      width: 90%;
    }
  }
}
.spinner {
  margin: 35px auto;
}
