<form [formGroup]="form"
  (ngSubmit)="submit()">

  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Email:</mat-label>
      <input matInput
        formControlName="email"
        required
        placeholder="Type a email..." />
      <mat-error *ngIf="form.get('email').errors?.required">
        Email is required!</mat-error>
      <mat-error *ngIf="form.get('email').errors?.email">
        Email it`s not valid!</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>First name:</mat-label>
      <input matInput
        formControlName="firstName"
        required
        placeholder="Type a First name ..." />
      <mat-error *ngIf="form.get('firstName').errors?.required">
        First name is required!</mat-error>
      <mat-error *ngIf="form.get('firstName').errors?.minlength">
        First name it`s not valid!</mat-error>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field appearance="legacy">
      <mat-label>Last Name:</mat-label>
      <input matInput
        formControlName="lastName"
        required
        placeholder="Type a Last Name..." />
      <mat-error *ngIf="form.get('lastName').errors?.required">
        Last Name is required!</mat-error>
      <mat-error *ngIf="form.get('lastName').errors?.minlength">
        Last Name it`s not valid!</mat-error>
    </mat-form-field>
  </div>

  <div formGroupName="passwords">
    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>Password:</mat-label>
        <input matInput
          formControlName="password"
          required
          type="password"
          placeholder="Type a password..." />
        <mat-error *ngIf="form.get('passwords.password').errors?.required">
          Password is required!</mat-error>
        <mat-error *ngIf="form.get('passwords.password').errors?.minlength">
          Password it`s not valid!</mat-error>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="legacy">
        <mat-label>Confirm Password:</mat-label>
        <input matInput
          formControlName="confirmPassword"
          required
          type="password"
          placeholder="Type a password..." />
        <mat-error
          *ngIf=" form.hasError('notSame', 'passwords')">
          Passwords not equal
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <button class="btn"
    [disabled]="loading || form.invalid">
    Sign In!
  </button>

  <p class="invalid">{{errorMessage}}</p>
</form>
