@import 'variables';
@import 'media_mixin';

form {
  text-align: left;
  .form-group {
    position: relative;
    margin-bottom: 40px;

    .base-input {
      border: 1px solid #8ea7ff;
      border-radius: 5px;
      margin: 0;
    }

    .validation {
      color: $error-color;

      position: absolute;
      bottom: -20px;
      font-style: italic;
    }
  }

  @include _420 {
    .btn {
      padding: 10px 20px;
    }
  }
}
