@import 'variables';

form {
  .form-group {
    position: relative;
    margin-bottom: 25px;

    .validation {
      position: absolute;
      bottom: -20px;
    }
  }

  .invalid {
    color: $error-color;
  }
  input {
    margin: 0;
  }
}
