<div class="backdrop-card">
  <div class="card-content">
    <img src="../assets/images/heart-active.svg" alt="" class="heart" />
    <div class="comment">
      <img src="../assets/images/joke.svg" alt="" />
    </div>
    <div class="card-content-inner">
      <span
        >ID: <a href="#">XNaAxUduSw6zANDaIEab7A</a>
        <img src="../assets/images/link.svg" alt="" />
      </span>
      <p>
        No one truly knows who's Chuck Norris' real father. No one is
        biologically strong enough for this. He must've conceived himself.
      </p>
      <span>
        Last update: 1923 hours ago
      </span>
    </div>
  </div>
</div>

<div class="backdrop-card">
  <div class="card-content">
    <img src="../assets/images/heart-active.svg" alt="" class="heart" />
    <div class="comment">
      <img src="../assets/images/joke.svg" alt="" />
    </div>
    <div class="card-content-inner">
      <span
        >ID: <a href="#">XNaAxUduSw6zANDaIEab7A</a>
        <img src="../assets/images/link.svg" alt="" />
      </span>
      <p>
        Chuck Norris can put a plane in reverse.
      </p>
      <span>
        Last update: 1923 hours ago
      </span>
    </div>
  </div>
</div>

<div class="backdrop-card">
  <div class="card-content">
    <img src="../assets/images/heart-active.svg" alt="" class="heart" />
    <div class="comment">
      <img src="../assets/images/comment.svg" alt="" />
    </div>
    <div class="card-content-inner">
      <span
        >ID: <a href="#">XNaAxUduSw6zANDaIEab7A</a>
        <img src="../assets/images/link.svg" alt="" />
      </span>
      <p>
        Chuck Norris doesn't bench press weight sets, he bench presses FREIGHT
        TRAINS
      </p>
      <span>
        Last update: 1923 hours ago
      </span>
    </div>
  </div>
</div>
