@import 'variables';

.card {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  .card-content {
    .heart {
      display: block;
      margin-left: auto;
      cursor: pointer;
    }
    .comment {
      display: inline-block;
      box-sizing: content-box;
      height: 20px;
      width: 20px;
      border-radius: 40px;
      margin-right: 20px;
      padding: 15px;
      vertical-align: top;
    }
    &-wrapper {
      display: flex;
    }
    &-inner {
      display: inline-block;
      width: 80%;
      span {
        font-size: 0.7rem;
        color: $sub-title-color;
        a {
          color: $main-color;
          margin-right: 5px;
        }
      }
      p {
        margin: 5px 0 20px 0;
      }
      .subtitles {
        display: flex;
        justify-content: space-between;
        .tag {
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 6px;
          background: $white-color;
          color: $dark-color;
          padding: 6px 20px;
        }
      }
    }
  }
}

.favorite-card {
  border: 1px solid $backdrop-bgc;
  background: $white-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  .card-content {
    .comment {
      background: $backdrop-bgc;
    }
    p {
      font-size: 0.9rem;
    }
    .subtitles {
      .tag {
        display: none;
      }
    }
  }
}

.joke-card {
  border: none;
  background: $joke-bgc;
  .card-content {
    .comment {
      background: $white-color;
      vertical-align: top;
    }
    &-inner {
      display: inline-block;
      width: 80%;
      p {
        font-size: 1rem;
        line-height: 26px;
      }
    }
  }
}
