<div *ngFor="let joke of jokes">

  <div class="card"
    [ngClass]=" {'joke-card': !joke.favorite, 'favorite-card': joke.favorite} ">
    <div class="card-content">
      <a href="#"
        class="heart">
        <img
          [src]="joke.favorite?'../assets/images/heart-active.svg':'../assets/images/heart.svg'"
          alt="" /></a>

      <div class="card-content-wrapper">
        <div class="comment">
          <a href="#"><img src="../assets/images/comment.svg"
              alt="" /></a>
        </div>
        <div class="card-content-inner">
          <span>ID: <a href="#">{{joke.id}}</a>
            <a href="#"> <img src="../assets/images/link.svg"
                alt="" /></a>
          </span>
          <p>
            {{joke.value}}
          </p>
          <div class="subtitles">
            <span>
              <!-- TODO -->
              Last update: {{joke.updated_at | date:'MMM-dd HH:mm'}}
            </span>
            <span class="tag"
              *ngIf="joke.categories.length">
              {{joke.categories[0]}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>