<div class="container">
  <div class="nav">
    <a href="#"
      class="btn"
      [routerLink]="['/']">
      Home
    </a>
    <h3>Authentication</h3>
  </div>

  <div *ngIf="authService.authenticated;else authForm"
    class="content-wrapper">
    <h3>
      You already login, {{authService.user.firstName | titlecase}}
    </h3>
    <a href="#"
      [routerLink]="['/auth']"
      (click)="authService.logout()"
      class="btn">Log Out</a>
  </div>

  <ng-template #authForm>
    <div class="content-wrapper">
      <form [formGroup]="form">

        <input type="radio"
          class="tags"
          formControlName="auth"
          [value]="authPropertiesEnum['Sign in']"
          id="signin" />
        <label for="signin">Sign In</label>

        <input type="radio"
          class="tags"
          formControlName="auth"
          [value]="authPropertiesEnum['Sign up']"
          id="signup" />
        <label for="signup">Sign Up</label>
      </form>

      <app-sign-in-form
        *ngIf="form.get('auth').value === authPropertiesEnum['Sign in']">
      </app-sign-in-form>

      <app-sign-up-form
        *ngIf="form.get('auth').value === authPropertiesEnum['Sign up']">
      </app-sign-up-form>
    </div>
  </ng-template>

</div>
