<div class="container">
  <a href="#"
    class="btn rout-link"
    [routerLink]="returnUrl">Go back</a>

  <div *ngIf="authService.isAuthenticated;else authForm"
    class="content-wrapper">
    <h3>
      You already login, {{authService.userData.firstName | titlecase}}
    </h3>
    <a href="#"
      [routerLink]="['/auth']"
      (click)="authService.logout()"
      class="btn">Log Out</a>
  </div>

  <ng-template #authForm>
    <div class="content-wrapper">
      <form [formGroup]="form">

        <input type="radio"
          class="tags"
          formControlName="auth"
          [value]="authPropertiesEnum[1]"
          id="logIn" />
        <label for="logIn">Log-In</label>

        <input type="radio"
          class="tags"
          formControlName="auth"
          [value]="authPropertiesEnum[2]"
          id="signIn" />
        <label for="signIn">Sign-In</label>
      </form>

      <app-sign-in-form
        *ngIf="form.get('auth').value === authPropertiesEnum[1]">
      </app-sign-in-form>

      <app-sign-up-form
        *ngIf="form.get('auth').value === authPropertiesEnum[2]">
      </app-sign-up-form>
    </div>
  </ng-template>

</div>
