@import 'variables';
@import 'media_mixin';

.submit-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button {
    color: white;
  }
}
.panel {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
