@import 'variables';
@import 'media_mixin';

.container {
  width: 100%;
  padding: 40px;
  .btn {
    display: inline-flex;
    margin-bottom: 30px;
    padding: 10px 25px;
    padding-top: 5px;
    font-size: 2rem;
  }
  .base-input {
    width: 40%;
    display: block;
    margin-top: 0;
  }

  .category-wrapper {
    display: flex;
    align-items: baseline;
    p {
      flex-shrink: 0;
    }
  }

  .everywhere {
    flex-basis: 100%;
    margin-top: 15px;
  }

  @include _480 {
    padding: 20px;
    .base-input {
      width: 100%;
      display: block;
    }
  }
}
