@import 'variables';
@import 'media_mixin';

.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  &-inner {
    width: 80%;
    margin: 0 auto;
    @include _420 {
      width: 90%;
    }
  }
  .base-input {
    width: 40%;
    display: block;
    margin-top: 0;
  }

  .category-wrapper {
    display: flex;
    align-items: baseline;
    p {
      flex-shrink: 0;
    }
    @include _480 {
      flex-direction: column;
      margin-top: 20px;
      .nav {
        font-size: 0.9rem;
        .btn {
          padding: 5px 20px;
        }
      }
      p {
        margin-left: 10px;
      }
    }
  }

  .everywhere {
    flex-basis: 100%;
    margin-top: 15px;
  }

  .show-search {
    margin-left: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    .btn {
      margin-bottom: 0;
      align-self: center;
      padding: 5px 10px;
      line-height: 10px;
      margin-left: 30px;
    }
    .tags + label {
      margin-left: 0;
    }
  }

  @include _480 {
    padding: 20px 10px;
    width: auto;
    .base-input {
      width: 100%;
      display: block;
    }
  }
}
