@import 'variables';
@import 'media_mixin';

.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: 90%;
  .btn {
    display: inline-flex;
    align-self: flex-start;
    margin-bottom: 30px;
    padding: 10px 25px;
    padding-top: 5px;
    font-size: 2rem;
  }
  .base-input {
    width: 40%;
    display: block;
    margin-top: 0;
  }

  .category-wrapper {
    display: flex;
    align-items: baseline;
    p {
      flex-shrink: 0;
    }
    @include _480 {
      flex-direction: column;
      margin-top: 20px;
      p {
        margin-left: 10px;
      }
    }
  }

  .everywhere {
    flex-basis: 100%;
    margin-top: 15px;
  }

  @include _480 {
    padding: 20px;
    .base-input {
      width: 100%;
      display: block;
    }
  }
}
