<div class="container">

  <a href="#"
    class="btn"
    routerLink="/">
    &larr;
  </a>

  <ng-container *ngIf="jokeService.favoritesJokes.length; else empty">
    <input type="text"
      class="base-input"
      placeholder="Search"
      [(ngModel)]="searchTracker" />

    <app-favorite-card
      [jokes]="jokeService.favoritesJokes | search: searchTracker">
    </app-favorite-card>

  </ng-container>

  <ng-template #empty>
    <app-empty-container></app-empty-container>
  </ng-template>


</div>
