@import 'variables';

form {
  .form-group {
    position: relative;
    margin-bottom: 25px;

    .validation {
      position: absolute;
      bottom: -20px;
    }
  }

  .invalid {
    color: $error-color;
  }
  input {
    margin: 0;
  }
  .submit-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tags:checked + label {
      background: $main-color;
    }
  }
}
