<form [formGroup]="form"
    (ngSubmit)="submit()">

    <mat-form-field *ngIf="!resetPasswordMode;else reset">
        <mat-label>Email:</mat-label>
        <input matInput
            type="email"
            formControlName="email"
            placeholder="Email">
        <mat-error *ngIf="form.get('email').errors?.email "> Email not valid! </mat-error>
        <mat-error *ngIf="form.get('email').errors?.required"> Email is required!
        </mat-error>
    </mat-form-field>


    <ng-template #reset>
        <mat-form-field>
            <input matInput
                type="password"
                formControlName="password"
                placeholder="Password">
            <mat-error *ngIf="form.get('password').errors?.required">*Password
                is required!</mat-error>
            <mat-error *ngIf="form.get('password').errors?.minlength">*Password
                it`s not valid!</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                type="password"
                formControlName="confirmPassword"
                placeholder="Confirm password">
            <mat-error *ngIf=" form.get('confirmPassword').touched && form.hasError('notSame')">
                Password not equal!</mat-error>
        </mat-form-field>
    </ng-template>

    <button mat-raised-button
        [disabled]="form.invalid"
        color="primary">Send
        <mat-icon *ngIf="!loadingState">arrow_right_alt</mat-icon>
        <mat-icon *ngIf="loadingState">
            <mat-spinner [diameter]="20"></mat-spinner>
        </mat-icon>
    </button>
</form>
