@import 'variables';

form {
  margin-bottom: 30px;
}

input {
  margin-top: 15px;
}

p {
  margin-top: 10px;
  margin-left: 34px;
}
.search-group {
  position: relative;
  .error {
    position: absolute;
    font-size: 0.7rem;
    color: #dd0031;
    bottom: -15px;
    right: 0;
    left: 0;
  }
}

.btn {
  margin-top: 30px;
}
