<form [formGroup]="form"
  (ngSubmit)="submit()">
  <p>
    <input type="radio"
      id="random"
      class="search-option"
      formControlName="formOptions"
      [value]="formProperty[1]" />
    <label for="random">Random</label>
  </p>
  <p>
    <input type="radio"
      id="category"
      class="search-option"
      formControlName="formOptions"
      [value]="formProperty[2]" />
    <label for="category">From Category</label>
  </p>

  <div *ngIf="form.get('formOptions').value === formProperty[2]"
    class="category"
    formGroupName="apiValue">
    <div *ngFor="let item of jokeCategories"
      class="tag-group">
      <input type="radio"
        class="tags"
        formControlName="categories"
        [id]="item"
        [value]="item" />
      <label [for]="item"> {{item}} </label>
    </div>
  </div>

  <p>
    <input type="radio"
      id="search"
      formControlName="formOptions"
      [value]="formProperty[3]"
      class="search-option" />
    <label for="search">Search</label>
  </p>
  <div formGroupName="apiValue"
    class="search-group"
    *ngIf="form.get('formOptions').value === formProperty[3]">
    <input formControlName="search"
      appInputFocus
      type="text"
      class="base-input"
      placeholder="Free text search..." />

    <span *ngIf="form.get('apiValue.search').errors?.minlength"
      class="error">
      Minimum length
      {{form.get('apiValue.search').errors.minlength.requiredLength}}
      characters
    </span>
  </div>

  <div class="submit-group">
    <button class="btn"
      [disabled]="loading || 
    (!form.get('apiValue.search').valid && 
    form.get('formOptions').value === formProperty[3]) ">
      Get a joke
    </button>
    <span class="error"> {{errorMessage}} </span>
  </div>


</form>
