@import 'variables';

form {
  margin-bottom: 40px;
}

.category {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  .tag-group {
    margin: 5px 0;
  }
  .tags {
    display: none;
    & + label {
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 6px;
      color: $sub-title-color;
      padding: 3px 9px;
      font-size: 0.8rem;
      margin: 0px 5px;
      border: 2px solid $joke-bgc;
      cursor: pointer;
    }
    &:checked + label {
      background: $joke-bgc;
      color: $dark-color;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
input {
  margin-top: 15px;
}

p {
  margin-top: 10px;
  margin-left: 34px;
}
.search-group,
.submit-group {
  position: relative;
  .error {
    position: absolute;
    font-size: 0.7rem;
    color: #dd0031;
    bottom: -15px;
    right: 0;
    left: 0;
  }
}
.search-option {
  &:checked,
  &:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  &:checked + label,
  &:not(:checked) + label {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $dark-color;
  }
  &:checked + label:before,
  &:not(:checked) + label:before {
    content: '';
    position: absolute;
    right: calc(100% + 15px);
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #333333;
    border-radius: 100%;
  }

  &:checked + label:after,
  &:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $dark-color;
    position: absolute;
    top: 5px;
    right: calc(100% + 20px);
    border-radius: 100%;
    transition: all 0.2s ease;
  }

  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
}
.btn {
  margin-top: 20px;
  &:disabled {
    cursor: not-allowed;
    background: lighten($main-color2, 20%);
  }
}
