<form [formGroup]="form"
  (ngSubmit)="submit()">
  <p>
    <input type="radio"
      id="random"
      class="search-option"
      formControlName="formOptions"
      [value]="eFormProperty.Random" />
    <label for="random">Random</label>
  </p>
  <p>
    <input type="radio"
      id="category"
      class="search-option"
      formControlName="formOptions"
      [value]="eFormProperty.Category" />
    <label for="category">From Category</label>
  </p>

  <div *ngIf="form.get('formOptions').value === eFormProperty.Category"
    class="category"
    formGroupName="apiValue">
    <div *ngFor="let item of category"
      class="tag-group">
      <input type="radio"
        class="tags"
        formControlName="categories"
        [id]="item"
        [value]="item" />
      <label [for]="item"> {{item}} </label>
    </div>
  </div>

  <p>
    <input type="radio"
      id="test3"
      formControlName="formOptions"
      [value]="eFormProperty.Search"
      class="search-option" />
    <label for="test3">Search</label>
  </p>
  <div formGroupName="apiValue"
    *ngIf="form.get('formOptions').value === eFormProperty.Search">
    <input formControlName="search"
      type="text"
      class="search"
      placeholder="Free text search..." />

    <span *ngIf="form.get('apiValue.search').errors?.minlength ">
      Minimum length
      {{form.get('apiValue.search').errors.minlength.requiredLength}}
      characters
    </span>
  </div>

  <button class="btn"
    [disabled]="loading || 
    (!form.get('apiValue.search').valid && 
    form.get('formOptions').value === eFormProperty.Search) ">
    Get a joke</button>

</form>