<app-toolbar title="Create Joke"></app-toolbar>

<div class="container">

  <div class="form-container">
    <app-joke-modify-form [loadingState]='loading'
      [categoryList]="categoriesList"
      (modifyOnJoke)="onNewJoke($event)"></app-joke-modify-form>

    <div class="cards">
      <ng-container *ngIf="joke; else empty">
        <app-favorite-card [joke]="joke"></app-favorite-card>
      </ng-container>
    </div>

  </div>

</div>

<!-- <pdf-viewer [src]="pdfSrc"
  [render-text]="true"
  [show-all]="false"
  style="display: block;"></pdf-viewer> -->


<ng-template #empty>
  <app-empty-container title="Create your first joke :)"></app-empty-container>
</ng-template>
