@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import 'material';
@import 'global-classes';

html,
body {
  color: $dark-color;
  font-size: 16px;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
