@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import 'variables';

html {
  color: $dark-color;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.container {
  padding: 40px 140px 0 140px;
  height: 100vh;
}

.btn {
  display: block;
  background: $main-gradient;
  color: $white-color;
  border-radius: 10px;
  padding: 10px 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  line-height: 22px;
  text-decoration: none;
  &:active {
    background: linear-gradient(
      to right bottom,
      darken($main-color, 5),
      darken($main-color2, 5)
    );
  }
}
