$dark-color: #333333;
$white-color: #ffffff;
$main-color: #8ea7ff;
$main-color2: #7291ff;
$main-gradient: linear-gradient(92.01deg, $main-color 0%, $main-color2 100%);
$joke-bgc: #f8f8f8;
$backdrop-bgc: #f8f8f8;
$sub-title-color: #ababab;
$heart-color: #ff6767;
$main-font-color: #8ea7ff;
$error-color: #dd0031;
