@import 'variables';

h3 {
  font-size: 1.3rem;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 40px;

  h1 {
    margin: 10px 0;
  }
}

.favorite-container {
  width: 400px;
  box-sizing: content-box;
  background: $backdrop-bgc;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h3 {
    color: $sub-title-color;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 40px;
    align-self: center;
  }
}
