<form [formGroup]="passwords"
    (ngSubmit)="submit()">

    <mat-form-field>
        <input matInput
            type="password"
            formControlName="password"
            placeholder="Password">

        <mat-error *ngIf="passwords.get('password').errors?.required">*Password
            is required!</mat-error>
        <mat-error *ngIf="passwords.get('password').errors?.minlength">*Password
            it`s not valid!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm password">
        <mat-error *ngIf=" passwords.get('confirmPassword').touched && passwords.hasError('notSame')">
            Password not equal!</mat-error>
    </mat-form-field>

    <button mat-raised-button
        color="primary"
        [disabled]="!passwords.valid">Reset
        <mat-icon>arrow_right_alt</mat-icon>
    </button>

</form>
