@import 'variables';
@import 'media_mixin';

.card {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  .card-content {
    display: flex;
    flex-direction: column;
    .heart {
      align-self: flex-end;
      cursor: pointer;
    }

    .comment {
      display: inline-block;
      box-sizing: content-box;
      height: 20px;
      width: 20px;
      border-radius: 40px;
      margin-right: 20px;
      padding: 15px;
      vertical-align: top;
    }
    &-wrapper {
      display: flex;
      flex-grow: 1;
      position: relative;
      .admin-panel {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;

        .edit,
        .delete {
          opacity: 0.4;
          transition: opacity 0.45s ease;
          img {
            width: 20px;
            height: 20px;
          }
          &:hover {
            opacity: 1;
          }
        }
        .delete {
          margin-left: 10px;
        }
        @include _480 {
          bottom: auto;
          top: 20px;
          left: 50px;
        }
      }
    }
    &-inner {
      display: inline-block;
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      span {
        font-size: 0.7rem;
        color: $sub-title-color;
        a {
          color: $main-color;
          margin-right: 5px;
        }
      }
      p {
        margin: 5px 0 20px 0;
      }
      .subtitles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tag {
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 6px;
          background: $white-color;
          color: $dark-color;
          padding: 6px 20px;
          margin-left: 10px;
          position: relative;
          .others {
            position: absolute;
            bottom: -13px;
            right: 0;
            font-size: 0.6rem;
            display: block;
            letter-spacing: normal;
          }
          @include _480 {
            padding: 6px 6px;
            font-size: 0.6rem;
            .others {
              bottom: -10px;
              font-size: 0.5rem;
            }
          }
        }
      }
    }
  }

  @include _836 {
    margin: 10px 5px;
  }
  @include _480 {
    padding: 15px 10px;
    .card-content {
      flex-direction: row;
      padding: 15px;
      position: relative;
      padding: 0;
      .heart {
        position: absolute;
        right: 15px;
        top: 10px;
      }
      &-wrapper {
        order: -1;
        flex-direction: column;
        margin-top: -10px;
      }
      &-inner {
        margin: 0 auto;
      }
      .heart {
        align-self: baseline;
      }
      .comment {
        margin: 5px 0;
        margin-top: 10px;
        padding: 10px;
      }
    }
  }
}

.favorite-card {
  border: 1px solid $backdrop-bgc;
  background: $white-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  .card-content {
    .comment {
      background: $backdrop-bgc;
    }
    p {
      font-size: 0.9rem;
    }
    .subtitles {
      .tag {
        display: none;
      }
    }
  }
}

.joke-card {
  border: none;
  background: $joke-bgc;
  .card-content {
    .comment {
      background: $white-color;
      vertical-align: top;
    }
    &-inner {
      display: inline-block;
      p {
        font-size: 1rem;
        line-height: 26px;
      }
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: pointer;
  img {
    filter: grayscale(100%);
  }
}
