<div>
  <div class="card"
    [ngClass]=" {'joke-card': !favorite, 'favorite-card': favorite} ">
    <div class="card-content">
      <a (click)="like(joke.id, $event, joke.favorite)"
        [ngClass]="{'disabled': loading}"
        href="#"
        class="heart">
        <img
          [src]="joke.favorite?'assets/images/heart-active.svg':'assets/images/heart.svg'"
          alt="" /></a>

      <div class="card-content-wrapper">
        <div class="comment">
          <a href="##"><img src="assets/images/comment.svg"
              alt="" /></a>
        </div>
        <div class="card-content-inner">
          <span>ID: <a href="#">{{joke.id}}</a>
            <a href="#"> <img src="assets/images/link.svg"
                alt="" /></a>
          </span>
          <p>
            {{joke.value}}
          </p>
          <div class="subtitles">
            <span>
              Last update: {{joke.updatedAt | diffDate}} hours ago
            </span>
            <span class="tag"
              [matTooltip]="joke.categories.slice(1).join(', ') | titlecase"
              *ngIf="joke.categories.join('').length">
              {{joke.categories[0]}}
              <span class="others"
                *ngIf="joke.categories.length > 1">
                (+{{joke.categories.length - 1}} others)</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
