@import 'variables';
@import 'media_mixin';

.card {
  padding: 20px;
  border-radius: 10px;
  margin: 0 5px;
  margin-bottom: 20px;
  .card-content {
    display: flex;
    flex-direction: column;
    .heart {
      align-self: flex-end;
      cursor: pointer;
    }
    .comment {
      display: inline-block;
      box-sizing: content-box;
      height: 20px;
      width: 20px;
      border-radius: 40px;
      margin-right: 20px;
      padding: 15px;
      vertical-align: top;
    }
    &-wrapper {
      display: flex;
      flex-grow: 1;
    }
    &-inner {
      display: inline-block;
      width: 100%;
      padding-right: 20px;
      span {
        font-size: 0.7rem;
        color: $sub-title-color;
        a {
          color: $main-color;
          margin-right: 5px;
        }
      }
      p {
        margin: 5px 0 20px 0;
      }
      .subtitles {
        display: flex;
        justify-content: space-between;
        .tag {
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 6px;
          background: $white-color;
          color: $dark-color;
          padding: 6px 20px;
          margin-left: 10px;
        }
      }
    }
    @include _350 {
      flex-direction: row;
      &-wrapper {
        order: -1;
        flex-direction: column;
        margin-top: -10px;
      }
      &-inner {
        margin: 0 auto;
      }
      .heart {
        align-self: baseline;
      }
      .comment {
        margin: 5px 0;
      }
    }
  }
  @include _480 {
    padding: 15px;
    position: relative;
    .heart {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
}

.favorite-card {
  border: 1px solid $backdrop-bgc;
  background: $white-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  .card-content {
    .comment {
      background: $backdrop-bgc;
    }
    p {
      font-size: 0.9rem;
    }
    .subtitles {
      .tag {
        display: none;
      }
    }
  }
}

.joke-card {
  border: none;
  background: $joke-bgc;
  .card-content {
    .comment {
      background: $white-color;
      vertical-align: top;
    }
    &-inner {
      display: inline-block;
      p {
        font-size: 1rem;
        line-height: 26px;
      }
    }
  }
}
