<div>
  <div class="card"
    [ngClass]=" {'joke-card': !favorite, 'favorite-card': favorite} ">
    <div class="card-content">

      <a (click)="like(joke, joke.favorite, $event)"
        [ngClass]="{'disabled': loading}"
        href="#"
        class="heart">
        <img
          [src]="joke.favorite?'assets/images/heart-active.svg':'assets/images/heart.svg'"
          alt="" /></a>

      <div class="card-content-wrapper">
        <div class="comment">
          <a href="#"
            (click)="$event.preventDefault()"><img
              [src]="joke.imageUrls[0]? joke.imageUrls[0]: 'assets/images/comment.svg'"
              alt="" /></a>

        </div>
        <div class="card-content-inner">
          <span>ID: <a href="#">{{joke.id}}</a>
            <a href="#"
              (click)="$event.preventDefault()"> <img
                src="assets/images/link.svg"
                alt="" /></a>
          </span>
          <p>
            {{joke.value}}
          </p>
          <div class="subtitles">
            <span>
              Last update: {{joke.updatedAt | diffDate }} hours ago
            </span>
            <span class="tag"
              [matTooltip]="joke.categories.slice(1).join(', ') | titlecase"
              *ngIf="joke.categories.join('').length">
              {{joke.categories[0]}}
              <span class="others"
                *ngIf="joke.categories.length > 1">
                (+{{joke.categories.length - 1}} others)</span>
            </span>
          </div>
        </div>
        <div class="admin-panel"
          *ngIf="authService.adminStatus">
          <a mat-icon-button
            (click)="$event.preventDefault()"
            href="#"
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu">
            <img src="assets/images/menu-icon.svg"
              alt="">
          </a>

          <mat-menu #menu="matMenu">
            <a [routerLink]="['/edit', joke.id]"
              mat-menu-item
              *ngIf="edit"
              class="edit">
              <img src="assets/images/edit.svg"
                alt="">
              Edit Joke
            </a>
            <a href="#"
              *ngIf="remove"
              mat-menu-item
              class="delete"
              (click)="onRemove(joke.id, $event)">
              <img src="assets/images/delete.svg"
                alt="">
              Delete Joke
            </a>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
