<app-toolbar title="Restore Password"></app-toolbar>
<div class="container">

    <div class="content">
        <h3>Forgot your password?</h3>
        <p *ngIf="!success; else done">
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
            Well, that's no fun.
        </p>
        <ng-template #done>
            <p>
                <mat-icon>sentiment_satisfied_alt</mat-icon>
                We send instruction to you Email
            </p>
        </ng-template>
        <p>Fill out your email address, and we’ll send you instructions to reset your password.</p>

        <app-restore-password-form (submitForm)="submit($event.email)"
            [loadingState]="loadingState">
        </app-restore-password-form>
    </div>
</div>
