@import 'variables';

form {
  width: 50vw;
  margin: 0 auto;
  background: $white-color;
  border: 1px solid $backdrop-bgc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  .form-group {
    position: relative;
    margin-bottom: 25px;

    .validation {
      position: absolute;
      bottom: -20px;
    }
  }

  .invalid {
    color: $error-color;
  }
  input {
    margin: 0;
  }
  .submit-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .tags:checked + label {
      background: $main-color;
    }
  }
}
